/* NoExistUrl.css */
.no-exist-url-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f8d7da;
    padding: 20px;
    text-align: center;
}

.no-exist-url-message {
    font-size: 36px;
    font-weight: bold;
    color: #721c24;
    margin-bottom: 20px;
    animation: fadeIn 1s ease-in-out;
}

.no-exist-url-description {
    font-size: 18px;
    color: #495057;
    margin-top: 10px;
}

.go-back-button {
    background-color: #721c24; /* 어두운 빨간색 배경 */
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.go-back-button:hover {
    background-color: #5c0f12; /* 배경색 hover 상태 */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
